

[Alpha1]
anchor-point=262,264
flag-point=238,240
central-point=262,264
id=0
cannon-point=254,266
cavalry-point=262,268
infantry-point=270,270
neighbours=Alpha2,Beta1,Delta1

[Alpha4]
anchor-point=217,81
flag-point=193,57
central-point=217,81
id=12
cannon-point=209,83
cavalry-point=217,85
infantry-point=225,87
neighbours=Alpha3

[Alpha2]
anchor-point=172,208
flag-point=148,184
central-point=172,208
id=1
cannon-point=164,210
cavalry-point=172,212
infantry-point=180,214
neighbours=Alpha1,Alpha3

[Alpha3]
anchor-point=131,129
flag-point=107,105
central-point=131,129
id=2
cannon-point=123,131
cavalry-point=131,133
infantry-point=139,135
neighbours=Alpha2,Alpha4

[Beta5]
anchor-point=680,107
flag-point=656,83
central-point=680,107
id=15
cannon-point=672,109
cavalry-point=680,111
infantry-point=688,113
neighbours=Beta2,Beta3,Beta4

[Beta4]
anchor-point=890,110
flag-point=866,86
central-point=890,110
id=16
cannon-point=882,112
cavalry-point=890,114
infantry-point=898,116
neighbours=Beta2,Beta3,Beta5

[Beta6]
anchor-point=938,264
flag-point=914,240
central-point=938,264
id=17
cannon-point=930,266
cavalry-point=938,268
infantry-point=946,270
neighbours=Beta3

[Beta1]
anchor-point=441,260
flag-point=417,236
central-point=441,260
id=3
cannon-point=433,262
cavalry-point=441,264
infantry-point=449,266
neighbours=Alpha1,Beta2,Camma1

[Beta2]
anchor-point=600,200
flag-point=576,176
central-point=600,200
id=4
cannon-point=592,202
cavalry-point=600,204
infantry-point=608,206
neighbours=Beta1,Beta3,Beta5,Beta4

[Beta3]
anchor-point=796,200
flag-point=772,176
central-point=796,200
id=5
cannon-point=788,202
cavalry-point=796,204
infantry-point=804,206
neighbours=Beta2,Beta5,Beta4,Beta6

[Camma4]
anchor-point=890,435
flag-point=866,411
central-point=890,435
id=13
cannon-point=882,437
cavalry-point=890,439
infantry-point=898,441
neighbours=Camma2,Camma3

[Camma1]
anchor-point=475,372
flag-point=451,348
central-point=475,372
id=6
cannon-point=467,374
cavalry-point=475,376
infantry-point=483,378
neighbours=Beta1,Camma2,Delta1

[Camma2]
anchor-point=651,453
flag-point=627,429
central-point=651,453
id=7
cannon-point=643,455
cavalry-point=651,457
infantry-point=659,459
neighbours=Camma1,Camma3,Camma4

[Camma3]
anchor-point=796,629
flag-point=772,605
central-point=796,629
id=8
cannon-point=788,631
cavalry-point=796,633
infantry-point=804,635
neighbours=Camma2,Camma4

[Delta2]
anchor-point=146,497
flag-point=122,473
central-point=146,497
id=10
cannon-point=138,499
cavalry-point=146,501
infantry-point=154,503
neighbours=Delta1,Delta3,Delta4

[Delta3]
anchor-point=94,654
flag-point=70,630
central-point=94,654
id=11
cannon-point=86,656
cavalry-point=94,658
infantry-point=102,660
neighbours=Delta2

[Delta4]
anchor-point=288,591
flag-point=264,567
central-point=288,591
id=14
cannon-point=280,593
cavalry-point=288,595
infantry-point=296,597
neighbours=Delta2

[Delta1]
anchor-point=262,415
flag-point=238,391
central-point=262,415
id=9
cannon-point=254,417
cavalry-point=262,419
infantry-point=270,421
neighbours=Alpha1,Camma1,Delta2


[Alphoo]
bonus=1
id=1
continent-countries=Alpha1,Alpha2,Alpha3,Alpha4

[Betoo]
bonus=1
id=2
continent-countries=Beta1,Beta2,Beta5,Beta4,Beta3,Beta6

[Cammoo]
bonus=1
id=3
continent-countries=Camma1,Camma4,Camma3,Camma2

[Deltoo]
bonus=1
id=4
continent-countries=Delta4,Delta2,Delta1,Delta3

[Axion]
flag=aye
leader=Annopolis

[Betion]
flag=bee
leader=Betavore

[Cephalon]
flag=cee
leader=Cornfed

[Daxion]
flag=dee
leader=Denge

[Epsilonia]
flag=eee
leader=Edward

[Flaxland]
flag=eff
leader=Falalala

[Galaria]
flag=gee
leader=Growly

[Higgs]
flag=aych
leader=Hedbomb


[cannon]
frames=1
height=32
id=cannon
versions=3
width=32

[cavalry]
frames=1
height=32
id=cavalry
versions=3
width=32

[infantry]
frames=1
height=32
id=infantry
versions=3
width=23

[exploding]
frames=2
height=32
id=exploding
versions=2
width=32

[firing]
frames=2
height=32
id=firing
versions=2
width=64

[flag]
frames=1
height=20
versions=1
width=20

[font]
background-color=#808080
family=Times New Roman
foreground-color=#000000
italic=true
size=14
weight=normal

[goal1]
desc=%1, you need to conquer %2 countries, and place %3 armies in each one.
nbArmiesByCountry=2
nbCountries=8
type=countries

[goal2]
desc=%1, you need to conquer %2 countries.
nbArmiesByCountry=0
nbCountries=8
type=countries

[goal3]
continents=Alphoo,Betoo
desc=%1, you need to conquer %2, %3 and another continent of your choice.
type=continents

[goal4]
continents=Alphoo,Cammoo
desc=%1, you need to conquer %2 and %3.
type=continents

[goal5]
continents=Alphoo,Deltoo
desc=%1, you need to conquer %2 and %3.
type=continents

[goal6]
continents=Betoo,Cammoo
desc=%1, you need to conquer %2 and %3.
type=continents

[goal7]
continents=Betoo,Deltoo
desc=%1, you need to conquer %2 and %3.
type=continents

[goal8]
continents=Cammoo,Deltoo
desc=%1, you need to conquer %2 and %3.
type=continents

[goal9]
desc=%1, you need to eliminate %2. If they are eliminated by another player, you need to conquer %3 countries.
nbCountriesFallback=6
type=player

[onu]
continents=Alphoo,Betoo,Cammoo,Deltoo
countries=Alpha1,Alpha2,Alpha3,Beta1,Beta2,Beta3,Camma1,Camma2,Camma3,Delta1,Delta2,Delta3,Alpha4,Camma4,Delta4,Beta5,Beta4,Beta6
desc=This skin shows an abstract network representing the world of PK Abstract Network.\nIt features non-animated sprites.
fighters-flag-y-diff=-12
format-version=3.0
goals=goal1,goal2,goal3,goal4,goal5,goal6,goal7,goal8,goal9
width=1024
height=768
map-mask=Images/map-mask.png
name=PK Abstract Network
nationalities=Axion,Betion,Cephalon,Daxion,Epsilonia
nb-continents=4
nb-countries=18
nb-nationalities=5
pool=Images/pool.svg
skinpath=skins/pk
width-between-flag-and-fighter=32
