

[Sol]
anchor-point=236,541
flag-point=212,517
central-point=236,541
id=1
cannon-point=228,543
cavalry-point=236,545
infantry-point=244,547
neighbours=Galaxion,Luyten

[Galaxion]
anchor-point=236,673
flag-point=212,649
central-point=236,673
id=2
cannon-point=228,675
cavalry-point=236,677
infantry-point=244,679
neighbours=Sol,Luyten,EightFeathers

[Luyten]
anchor-point=110,497
flag-point=86,473
central-point=110,497
id=3
cannon-point=102,499
cavalry-point=110,501
infantry-point=118,503
neighbours=Sol,Galaxion,NewHenge,Mandible

[NewHenge]
anchor-point=229,390
flag-point=205,366
central-point=229,390
id=4
cannon-point=221,392
cavalry-point=229,394
infantry-point=237,396
neighbours=Luyten,Mandible,DreamState

[DreamState]
anchor-point=229,166
flag-point=205,142
central-point=229,166
id=5
cannon-point=221,168
cavalry-point=229,170
infantry-point=237,172
neighbours=Wormspace,NewHenge,Mandible

[Mandible]
anchor-point=94,223
flag-point=70,199
central-point=94,223
id=6
cannon-point=86,225
cavalry-point=94,227
infantry-point=102,229
neighbours=Luyten,NewHenge,DreamState

[Ringmaster]
anchor-point=468,516
flag-point=444,492
central-point=468,516
id=10
cannon-point=460,518
cavalry-point=468,520
infantry-point=476,522
neighbours=Nybble,TenTalons,Meerkon,Tannhauser,DeltaPavonis

[TenTalons]
anchor-point=594,616
flag-point=570,592
central-point=594,616
id=11
cannon-point=586,618
cavalry-point=594,620
infantry-point=602,622
neighbours=EightFeathers,Ringmaster,Meerkon

[EightFeathers]
anchor-point=374,660
flag-point=350,636
central-point=374,660
id=7
cannon-point=366,662
cavalry-point=374,664
infantry-point=382,666
neighbours=Galaxion,CultistTwo,TenTalons

[CultistTwo]
anchor-point=339,531
flag-point=315,507
central-point=339,531
id=8
cannon-point=331,533
cavalry-point=339,535
infantry-point=347,537
neighbours=EightFeathers,Nybble

[Nybble]
anchor-point=377,383
flag-point=353,359
central-point=377,383
id=9
cannon-point=369,385
cavalry-point=377,387
infantry-point=385,389
neighbours=CultistTwo,Ringmaster,Tannhauser

[Meerkon]
anchor-point=940,462
flag-point=916,438
central-point=940,462
id=12
cannon-point=932,464
cavalry-point=940,466
infantry-point=948,468
neighbours=Ringmaster,TenTalons,Tannhauser

[Tannhauser]
anchor-point=478,106
flag-point=454,82
central-point=478,106
id=13
cannon-point=470,108
cavalry-point=478,110
infantry-point=486,112
neighbours=Wormspace,Nybble,Ringmaster,DeltaPavonis,Meerkon

[DeltaPavonis]
anchor-point=541,368
flag-point=517,344
central-point=541,368
id=14
cannon-point=533,370
cavalry-point=541,372
infantry-point=549,374
neighbours=Ringmaster,Tannhauser,Flatling

[Flatling]
anchor-point=582,248
flag-point=558,224
central-point=582,248
id=15
cannon-point=574,250
cavalry-point=582,252
infantry-point=590,254
neighbours=DeltaPavonis,DeepTime,Lacaille8760

[DeepTime]
anchor-point=651,409
flag-point=627,385
central-point=651,409
id=16
cannon-point=643,411
cavalry-point=651,413
infantry-point=659,415
neighbours=Flatling,Lacaille8760

[Lacaille8760]
anchor-point=799,405
flag-point=775,381
central-point=799,405
id=17
cannon-point=791,407
cavalry-point=799,409
infantry-point=807,411
neighbours=Flatling,DeepTime

[Wormspace]
anchor-point=352,226
flag-point=328,202
central-point=352,226
id=0
cannon-point=344,228
cavalry-point=352,230
infantry-point=360,232
neighbours=DreamState,Tannhauser


[Home]
bonus=2
id=1
continent-countries=Sol,Galaxion,Luyten

[Farhip]
bonus=2
id=2
continent-countries=Mandible,DreamState,NewHenge

[License]
bonus=2
id=3
continent-countries=Ringmaster,EightFeathers,TenTalons,CultistTwo,Nybble

[Skinny]
bonus=1
id=4
continent-countries=Meerkon,Tannhauser,DeltaPavonis

[MyOldChina]
bonus=1
id=5
continent-countries=Lacaille8760,DeepTime,Flatling

[Wormspace]
bonus=0
id=6
continent-countries=Wormspace

[BubbleheadCraboids]
flag=bubblehc
leader=Sotar Ngix

[PoorlyShavedApes]
flag=psapes
leader=Douglas Adams

[LittleGreenPseudobirds]
flag=lspbirds
leader=Tweeteoportyx

[TentacledHorrors]
flag=tentacleh
leader=Yogthulu

[Cybyoni]
flag=countc
leader=Count Trioni

[VatBrainedSaucerFolk]
flag=vbsfolk
leader=Meek Green

[DeadAncients]
flag=dancient
leader=Ssssssss

[HyperMantids]
flag=hyperm
leader=Skannnng!

[cannon]
frames=1
height=32
id=cannon
versions=3
width=32

[cavalry]
frames=1
height=32
id=cavalry
versions=3
width=32

[infantry]
frames=1
height=32
id=infantry
versions=3
width=23

[exploding]
frames=2
height=32
id=exploding
versions=2
width=32

[firing]
frames=2
height=32
id=firing
versions=2
width=64

[flag]
frames=1
height=20
versions=1
width=20

[font]
background-color=#808080
family=Times New Roman
foreground-color=#000000
italic=true
size=14
weight=normal

[goal1]
desc=%1, you need to conquer %2 star systems and place %3 armies in each one.
nbArmiesByCountry=3
nbCountries=10
type=countries

[goal2]
desc=%1, you need to conquer %2 star systems.
nbArmiesByCountry=0
nbCountries=15
type=countries

[goal3]
continents=Home,MyOldChina
desc=%1, you need to conquer zones %2 and %3.
type=continents

[goal4]
continents=Skinny,Farhip,MyOldChina
desc=%1, you need to conquer zones %2, %3 and %4.
type=continents

[goal5]
continents=Home,Skinny,Farhip
desc=%1, you need to conquer zones %2, %3 and %4.
type=continents

[goal6]
desc=%1, you need to eliminate %2. If they are eliminated by another player, you need to conquer %3 star systems.
nbCountriesFallback=16
type=player

[onu]
continents=Home,Farhip,License,Skinny,MyOldChina,Wormspace
countries=Wormspace,Sol,Galaxion,Luyten,NewHenge,DreamState,Mandible,EightFeathers,CultistTwo,Nybble,Ringmaster,TenTalons,Meerkon,Tannhauser,DeltaPavonis,Flatling,DeepTime,Lacaille8760
desc=This skin shows an abstract network called SolStar. It represents \n a network of habitable stars within a 20 light year neighbourhood of our \n Sun, being based on the map that can be found at \n http://www.projectrho.com/public_html/starmaps/mapindex.php \n but with an extra link via Wormspace to improve play.
fighters-flag-y-diff=-12
format-version=3.0
goals=goal1,goal2,goal3,goal4,goal5,goal6
width=1024
height=768
map-mask=Images/map-mask.png
name=SolStar
nationalities=BubbleheadCraboids,PoorlyShavedApes,LittleGreenPseudobirds,TentacledHorrors,Cybyoni,VatBrainedSaucerFolk,DeadAncients,HyperMantids
nb-continents=6
nb-countries=18
nb-nationalities=6
pool=Images/pool.svg
skinpath=skins/solstar
width-between-flag-and-fighter=32
