

[DamaCentral]
anchor-point=174,595
flag-point=150,571
central-point=174,595
id=0
cannon-point=166,597
cavalry-point=174,599
infantry-point=182,601
neighbours=DamaSouth,DamaEast,DamaNorth,DamaWest

[DamaSouth]
anchor-point=179,660
flag-point=155,636
central-point=179,660
id=1
cannon-point=171,662
cavalry-point=179,664
infantry-point=187,666
neighbours=DamaCentral,DamaEast,DamaWest,Unique,Bivalve

[DamaEast]
anchor-point=258,585
flag-point=234,561
central-point=258,585
id=2
cannon-point=250,587
cavalry-point=258,589
infantry-point=266,591
neighbours=DamaCentral,DamaSouth,DamaNorth,Underous

[DamaNorth]
anchor-point=169,531
flag-point=145,507
central-point=169,531
id=3
cannon-point=161,533
cavalry-point=169,535
infantry-point=177,537
neighbours=DamaCentral,DamaEast,DamaWest,LlamaWest,RightyHo

[DamaWest]
anchor-point=106,610
flag-point=82,586
central-point=106,610
id=4
cannon-point=98,612
cavalry-point=106,614
infantry-point=114,616
neighbours=DamaCentral,DamaSouth,DamaNorth,Primus

[Borderline]
anchor-point=928,361
flag-point=904,337
central-point=928,361
id=36
cannon-point=920,363
cavalry-point=928,365
infantry-point=936,367
neighbours=AllThatJazz

[Clack]
anchor-point=767,575
flag-point=743,551
central-point=767,575
id=40
cannon-point=759,577
cavalry-point=767,579
infantry-point=775,581
neighbours=PalmStones

[Jazeera]
anchor-point=811,229
flag-point=787,205
central-point=811,229
id=30
cannon-point=803,231
cavalry-point=811,233
infantry-point=819,235
neighbours=Tiny,Jazeewa,AllThatJazz,Tapps

[Jazeewa]
anchor-point=789,286
flag-point=765,262
central-point=789,286
id=31
cannon-point=781,288
cavalry-point=789,290
infantry-point=797,292
neighbours=Jazeera,AllThatJazz,Bind

[AllThatJazz]
anchor-point=874,254
flag-point=850,230
central-point=874,254
id=32
cannon-point=866,256
cavalry-point=874,258
infantry-point=882,260
neighbours=Jazeera,Jazeewa,Borderline

[Primus]
anchor-point=50,711
flag-point=26,687
central-point=50,711
id=5
cannon-point=42,713
cavalry-point=50,715
infantry-point=58,717
neighbours=DamaWest

[Unique]
anchor-point=151,736
flag-point=127,712
central-point=151,736
id=6
cannon-point=143,738
cavalry-point=151,740
infantry-point=159,742
neighbours=DamaSouth

[Bivalve]
anchor-point=245,733
flag-point=221,709
central-point=245,733
id=7
cannon-point=237,735
cavalry-point=245,737
infantry-point=253,739
neighbours=DamaSouth

[LlamaNorth]
anchor-point=173,393
flag-point=149,369
central-point=173,393
id=10
cannon-point=165,395
cavalry-point=173,397
infantry-point=181,399
neighbours=LlamaWest,LlamaEast,PomsSouth

[Titso]
anchor-point=34,446
flag-point=10,422
central-point=34,446
id=11
cannon-point=26,448
cavalry-point=34,450
infantry-point=42,452
neighbours=LlamaWest,Lack

[LlamaWest]
anchor-point=163,459
flag-point=139,435
central-point=163,459
id=8
cannon-point=155,461
cavalry-point=163,463
infantry-point=171,465
neighbours=DamaNorth,LlamaEast,LlamaNorth,Titso

[LlamaEast]
anchor-point=239,424
flag-point=215,400
central-point=239,424
id=9
cannon-point=231,426
cavalry-point=239,428
infantry-point=247,430
neighbours=LlamaWest,LlamaNorth,RightyHo

[Lack]
anchor-point=34,298
flag-point=10,274
central-point=34,298
id=12
cannon-point=26,300
cavalry-point=34,302
infantry-point=42,304
neighbours=Titso,Id

[PomsSouth]
anchor-point=173,324
flag-point=149,300
central-point=173,324
id=13
cannon-point=165,326
cavalry-point=173,328
infantry-point=181,330
neighbours=LlamaNorth,PomsWest,PomsNorth,FarEast

[PomsWest]
anchor-point=106,302
flag-point=82,278
central-point=106,302
id=14
cannon-point=98,304
cavalry-point=106,306
infantry-point=114,308
neighbours=PomsSouth,PomsNorth

[PomsNorth]
anchor-point=169,261
flag-point=145,237
central-point=169,261
id=15
cannon-point=161,263
cavalry-point=169,265
infantry-point=177,267
neighbours=PomsSouth,PomsWest,Id

[FarEast]
anchor-point=292,305
flag-point=268,281
central-point=292,305
id=16
cannon-point=284,307
cavalry-point=292,309
infantry-point=300,311
neighbours=PomsSouth,Waste

[Id]
anchor-point=78,220
flag-point=54,196
central-point=78,220
id=17
cannon-point=70,222
cavalry-point=78,224
infantry-point=86,226
neighbours=Lack,PomsNorth,LoPop

[Waste]
anchor-point=424,302
flag-point=400,278
central-point=424,302
id=18
cannon-point=416,304
cavalry-point=424,306
infantry-point=432,308
neighbours=FarEast,Wracklo

[Pop]
anchor-point=191,125
flag-point=167,101
central-point=191,125
id=19
cannon-point=183,127
cavalry-point=191,129
infantry-point=199,131
neighbours=LoPop,EaPop,SePop,HiPop,WePop

[LoPop]
anchor-point=147,163
flag-point=123,139
central-point=147,163
id=20
cannon-point=139,165
cavalry-point=147,167
infantry-point=155,169
neighbours=Id,Pop,EaPop,WePop

[EaPop]
anchor-point=251,154
flag-point=227,130
central-point=251,154
id=21
cannon-point=243,156
cavalry-point=251,158
infantry-point=259,160
neighbours=Pop,LoPop,SePop,Wrack

[SePop]
anchor-point=261,97
flag-point=237,73
central-point=261,97
id=22
cannon-point=253,99
cavalry-point=261,101
infantry-point=269,103
neighbours=Pop,EaPop,HiPop,Torquay

[HiPop]
anchor-point=173,66
flag-point=149,42
central-point=173,66
id=23
cannon-point=165,68
cavalry-point=173,70
infantry-point=181,72
neighbours=Pop,SePop,WePop

[WePop]
anchor-point=94,103
flag-point=70,79
central-point=94,103
id=24
cannon-point=86,105
cavalry-point=94,107
infantry-point=102,109
neighbours=Pop,LoPop,HiPop

[Wrack]
anchor-point=440,151
flag-point=416,127
central-point=440,151
id=25
cannon-point=432,153
cavalry-point=440,155
infantry-point=448,157
neighbours=EaPop,WrackNorth,Wracklo

[WrackNorth]
anchor-point=516,122
flag-point=492,98
central-point=516,122
id=26
cannon-point=508,124
cavalry-point=516,126
infantry-point=524,128
neighbours=Wrack,Wracklo,Torquay

[Wracklo]
anchor-point=534,179
flag-point=510,155
central-point=534,179
id=27
cannon-point=526,181
cavalry-point=534,183
infantry-point=542,185
neighbours=Waste,Wrack,WrackNorth,Tiny

[Tiny]
anchor-point=689,191
flag-point=665,167
central-point=689,191
id=29
cannon-point=681,193
cavalry-point=689,195
infantry-point=697,197
neighbours=Wracklo,Jazeera

[Torquay]
anchor-point=503,47
flag-point=479,23
central-point=503,47
id=28
cannon-point=495,49
cavalry-point=503,51
infantry-point=511,53
neighbours=SePop,WrackNorth,Tapps

[Tapps]
anchor-point=846,132
flag-point=822,108
central-point=846,132
id=33
cannon-point=838,134
cavalry-point=846,136
infantry-point=854,138
neighbours=Torquay,Jazeera,Wapps,FiniteBiscuit

[Wapps]
anchor-point=796,56
flag-point=772,32
central-point=796,56
id=34
cannon-point=788,58
cavalry-point=796,60
infantry-point=804,62
neighbours=Tapps

[FiniteBiscuit]
anchor-point=940,59
flag-point=916,35
central-point=940,59
id=35
cannon-point=932,61
cavalry-point=940,63
infantry-point=948,65
neighbours=Tapps

[RightyHo]
anchor-point=371,459
flag-point=347,435
central-point=371,459
id=37
cannon-point=363,461
cavalry-point=371,463
infantry-point=379,465
neighbours=DamaNorth,LlamaEast,Underous,PalmStones

[Underous]
anchor-point=374,522
flag-point=350,498
central-point=374,522
id=38
cannon-point=366,524
cavalry-point=374,526
infantry-point=382,528
neighbours=DamaEast,RightyHo,PalmStones

[PalmStones]
anchor-point=563,503
flag-point=539,479
central-point=563,503
id=39
cannon-point=555,505
cavalry-point=563,507
infantry-point=571,509
neighbours=RightyHo,Underous,Clack,Bind

[Bind]
anchor-point=692,409
flag-point=668,385
central-point=692,409
id=41
cannon-point=684,411
cavalry-point=692,413
infantry-point=700,415
neighbours=PalmStones,Jazeewa


[Dassa]
bonus=2
id=1
continent-countries=DamaCentral,DamaWest,DamaEast,DamaSouth,DamaNorth

[Xeta]
bonus=1
id=2
continent-countries=Unique,Bivalve,Primus

[Mamma]
bonus=1
id=3
continent-countries=LlamaEast,Titso,LlamaNorth,LlamaWest

[Homes]
bonus=1
id=4
continent-countries=Lack,Waste,PomsWest,FarEast,PomsSouth,Id,PomsNorth

[Poppo]
bonus=2
id=5
continent-countries=LoPop,WePop,EaPop,SePop,Pop,HiPop

[Quagga]
bonus=1
id=6
continent-countries=WrackNorth,Tiny,Wrack,Wracklo

[Durks]
bonus=1
id=7
continent-countries=Tapps,Wapps,FiniteBiscuit,Torquay

[Deserto]
bonus=1
id=9
continent-countries=Underous,RightyHo,PalmStones,Bind

[Eyeball]
bonus=1
id=10
continent-countries=Borderline,Clack

[JiveBar]
bonus=1
id=11
continent-countries=AllThatJazz,Jazeewa,Jazeera

[FreedomSirda]
flag=fsi
leader=Cowardly Psychotic 

[SirdaLiberationFront]
flag=slf
leader=Naive Bully

[FrontLiberationSirda]
flag=fls
leader=Brutal Idiot

[LibertyFreedomSirda]
flag=lfs
leader=Selfish Socialist

[SirdaFuture]
flag=sfu
leader=Reactionary Pluralist

[SocialFuturesLiberty]
flag=sfl
leader=Narcissitic Fascist

[FreeDemocratsAlliance]
flag=fda
leader=Deluded Optimist

[AllianceFutureDemocrats]
flag=afd
leader=DerangedFantasist

[cannon]
frames=1
height=32
id=cannon
versions=3
width=32

[cavalry]
frames=1
height=32
id=cavalry
versions=3
width=32

[infantry]
frames=1
height=32
id=infantry
versions=3
width=23

[exploding]
frames=2
height=32
id=exploding
versions=2
width=32

[firing]
frames=2
height=32
id=firing
versions=2
width=64

[flag]
frames=1
height=20
versions=1
width=20

[font]
background-color=#808080
family=Times New Roman
foreground-color=#000000
italic=true
size=14
weight=normal

[goal1]
desc=%1, you need to conquer %2 countries, and place %3 armies in each one.
nbArmiesByCountry=3
nbCountries=20
type=countries

[goal2]
desc=%1, you need to conquer %2 countries.
nbArmiesByCountry=0
nbCountries=25
type=countries

[goal3]
continents=Dassa,Homes,Poppo
desc=%1, you need to conquer continents %2, %3 and %4.
type=continents

[goal4]
continents=Dassa,Poppo,Deserto
desc=%1, you need to conquer continents %2, %3 and %4.
type=continents

[goal5]
continents=Dassa,Homes,Deserto
desc=%1, you need to conquer continents %2, %3 and %4.
type=continents

[goal6]
continents=Poppo,Quagga,Deserto
desc=%1, you need to conquer continents %2, %3 and %4.
type=continents

[goal7]
continents=Mamma,Homes,Poppo
desc=%1, you need to conquer continents %2, %3 and %4.
type=continents

[goal8]
continents=Durks,Eyeball,JiveBar
desc=%1, you need to conquer continents %2, %3 and %4.
type=continents

[goal9]
desc=%1, you need to eliminate %2. If they are eliminated by another player, you need to conquer %3 countries.
nbCountriesFallback=22
type=player

[goal10]
continents=Mamma,Homes,Quagga
desc=%1, you need to conquer continents %2, %3 and %4.
type=continents

[onu]
continents=Dassa,Xeta,Mamma,Homes,Poppo,Quagga,Durks,Deserto,Eyeball,JiveBar
countries=DamaCentral,DamaSouth,DamaEast,DamaNorth,DamaWest,Primus,Unique,Bivalve,LlamaWest,LlamaEast,LlamaNorth,Titso,Lack,PomsSouth,PomsWest,PomsNorth,FarEast,Id,Waste,Pop,LoPop,EaPop,SePop,HiPop,WePop,Wrack,WrackNorth,Wracklo,Torquay,Tiny,Jazeera,Jazeewa,AllThatJazz,Tapps,Wapps,FiniteBiscuit,Borderline,RightyHo,Underous,PalmStones,Clack,Bind
desc=This skin shows an abstract network representing the world of Sirda.\nIt features non-animated sprites.
fighters-flag-y-diff=-12
format-version=3.0
goals=goal1,goal2,goal3,goal4,goal5,goal6,goal7,goal8,goal9,goal10
width=1024
height=768
map-mask=Images/map-mask.png
name=Sirda
nationalities=FreedomSirda,SirdaLiberationFront,FrontLiberationSirda,LibertyFreedomSirda,SirdaFuture,SocialFuturesLiberty,FreeDemocratsAlliance,AllianceFutureDemocrats
nb-continents=10
nb-countries=42
nb-nationalities=6
pool=Images/pool.svg
skinpath=skins/sirda
width-between-flag-and-fighter=32
