

[Gala]
anchor-point=75,704
flag-point=51,680
central-point=75,704
id=18
cannon-point=67,706
cavalry-point=75,708
infantry-point=83,710
neighbours=Galaxion

[Earth]
anchor-point=239,519
flag-point=215,495
central-point=239,519
id=19
cannon-point=231,521
cavalry-point=239,523
infantry-point=247,525
neighbours=Sol

[Sol]
anchor-point=191,569
flag-point=167,545
central-point=191,569
id=1
cannon-point=183,571
cavalry-point=191,573
infantry-point=199,575
neighbours=Galaxion,Luyten,Earth

[Lyte]
anchor-point=66,585
flag-point=42,561
central-point=66,585
id=20
cannon-point=58,587
cavalry-point=66,589
infantry-point=74,591
neighbours=Luyten

[Galaxion]
anchor-point=163,676
flag-point=139,652
central-point=163,676
id=2
cannon-point=155,678
cavalry-point=163,680
infantry-point=171,682
neighbours=Sol,Luyten,EightFeathers,Gala

[Luyten]
anchor-point=110,497
flag-point=86,473
central-point=110,497
id=3
cannon-point=102,499
cavalry-point=110,501
infantry-point=118,503
neighbours=Sol,Galaxion,NewHenge,Mandible,Lyte

[Hene]
anchor-point=229,418
flag-point=205,394
central-point=229,418
id=21
cannon-point=221,420
cavalry-point=229,422
infantry-point=237,424
neighbours=NewHenge

[Mane]
anchor-point=66,132
flag-point=42,108
central-point=66,132
id=22
cannon-point=58,134
cavalry-point=66,136
infantry-point=74,138
neighbours=Mandible

[Lotus]
anchor-point=223,100
flag-point=199,76
central-point=223,100
id=23
cannon-point=215,102
cavalry-point=223,104
infantry-point=231,106
neighbours=DreamState

[NewHenge]
anchor-point=220,336
flag-point=196,312
central-point=220,336
id=4
cannon-point=212,338
cavalry-point=220,340
infantry-point=228,342
neighbours=Luyten,Mandible,DreamState,Hene

[DreamState]
anchor-point=232,173
flag-point=208,149
central-point=232,173
id=5
cannon-point=224,175
cavalry-point=232,177
infantry-point=240,179
neighbours=Wormspace,NewHenge,Mandible,Lotus

[Mandible]
anchor-point=94,223
flag-point=70,199
central-point=94,223
id=6
cannon-point=86,225
cavalry-point=94,227
infantry-point=102,229
neighbours=Luyten,NewHenge,DreamState,Mane

[Ringmaster]
anchor-point=494,525
flag-point=470,501
central-point=494,525
id=10
cannon-point=486,527
cavalry-point=494,529
infantry-point=502,531
neighbours=Nybble,Talons,Meerkon,Gate,DeltaPavonis,RingSix

[Talons]
anchor-point=594,616
flag-point=570,592
central-point=594,616
id=11
cannon-point=586,618
cavalry-point=594,620
infantry-point=602,622
neighbours=EightFeathers,Ringmaster,Meerkon,TenTalons

[Nibz]
anchor-point=352,308
flag-point=328,284
central-point=352,308
id=27
cannon-point=344,310
cavalry-point=352,312
infantry-point=360,314
neighbours=Nybble

[CultistTwo]
anchor-point=396,500
flag-point=372,476
central-point=396,500
id=28
cannon-point=388,502
cavalry-point=396,504
infantry-point=404,506
neighbours=Cultist

[RingSix]
anchor-point=446,579
flag-point=422,555
central-point=446,579
id=29
cannon-point=438,581
cavalry-point=446,583
infantry-point=454,585
neighbours=Ringmaster

[Pinion]
anchor-point=446,720
flag-point=422,696
central-point=446,720
id=30
cannon-point=438,722
cavalry-point=446,724
infantry-point=454,726
neighbours=EightFeathers

[TenTalons]
anchor-point=601,704
flag-point=577,680
central-point=601,704
id=31
cannon-point=593,706
cavalry-point=601,708
infantry-point=609,710
neighbours=Talons

[EightFeathers]
anchor-point=374,660
flag-point=350,636
central-point=374,660
id=7
cannon-point=366,662
cavalry-point=374,664
infantry-point=382,666
neighbours=Galaxion,Cultist,Talons,Pinion

[Cultist]
anchor-point=333,462
flag-point=309,438
central-point=333,462
id=8
cannon-point=325,464
cavalry-point=333,466
infantry-point=341,468
neighbours=EightFeathers,Nybble,CultistTwo

[Nybble]
anchor-point=377,383
flag-point=353,359
central-point=377,383
id=9
cannon-point=369,385
cavalry-point=377,387
infantry-point=385,389
neighbours=Cultist,Ringmaster,Gate,Nibz

[Meerkon]
anchor-point=944,478
flag-point=920,454
central-point=944,478
id=12
cannon-point=936,480
cavalry-point=944,482
infantry-point=952,484
neighbours=Ringmaster,Talons,Gate,Meex

[Gate]
anchor-point=563,59
flag-point=539,35
central-point=563,59
id=13
cannon-point=555,61
cavalry-point=563,63
infantry-point=571,65
neighbours=Wormspace,Nybble,Ringmaster,DeltaPavonis,Meerkon,Tannhauser

[DeltaPavonis]
anchor-point=569,346
flag-point=545,322
central-point=569,346
id=14
cannon-point=561,348
cavalry-point=569,350
infantry-point=577,352
neighbours=Ringmaster,Gate,Flatling,Pave

[Tannhauser]
anchor-point=708,72
flag-point=684,48
central-point=708,72
id=24
cannon-point=700,74
cavalry-point=708,76
infantry-point=716,78
neighbours=Gate

[Pave]
anchor-point=572,437
flag-point=548,413
central-point=572,437
id=25
cannon-point=564,439
cavalry-point=572,441
infantry-point=580,443
neighbours=DeltaPavonis

[Meex]
anchor-point=934,579
flag-point=910,555
central-point=934,579
id=26
cannon-point=926,581
cavalry-point=934,583
infantry-point=942,585
neighbours=Meerkon

[Flatling]
anchor-point=673,242
flag-point=649,218
central-point=673,242
id=15
cannon-point=665,244
cavalry-point=673,246
infantry-point=681,248
neighbours=DeltaPavonis,DeepTime,Lacaille8760,Dyzo

[DeepTime]
anchor-point=651,409
flag-point=627,385
central-point=651,409
id=16
cannon-point=643,411
cavalry-point=651,413
infantry-point=659,415
neighbours=Flatling,Lacaille8760,Infi

[Lacaille8760]
anchor-point=805,393
flag-point=781,369
central-point=805,393
id=17
cannon-point=797,395
cavalry-point=805,397
infantry-point=813,399
neighbours=Flatling,DeepTime,Loco

[Infi]
anchor-point=711,365
flag-point=687,341
central-point=711,365
id=32
cannon-point=703,367
cavalry-point=711,369
infantry-point=719,371
neighbours=DeepTime

[Loco]
anchor-point=755,446
flag-point=731,422
central-point=755,446
id=33
cannon-point=747,448
cavalry-point=755,450
infantry-point=763,452
neighbours=Lacaille8760

[Dyzo]
anchor-point=626,191
flag-point=602,167
central-point=626,191
id=34
cannon-point=618,193
cavalry-point=626,195
infantry-point=634,197
neighbours=Flatling

[Wormspace]
anchor-point=371,179
flag-point=347,155
central-point=371,179
id=0
cannon-point=363,181
cavalry-point=371,183
infantry-point=379,185
neighbours=DreamState,Gate


[Home]
bonus=2
id=1
continent-countries=Luyten,Lyte,Gala,Galaxion,Sol,Earth

[Farhip]
bonus=2
id=2
continent-countries=Mandible,Hene,NewHenge,Mane,Lotus,DreamState

[License]
bonus=2
id=3
continent-countries=EightFeathers,Nybble,Nibz,Cultist,RingSix,CultistTwo,Pinion,Talons,TenTalons,Ringmaster

[Skinny]
bonus=1
id=4
continent-countries=Tannhauser,DeltaPavonis,Gate,Pave,Meex,Meerkon

[MyOldChina]
bonus=1
id=5
continent-countries=DeepTime,Flatling,Infi,Lacaille8760,Loco,Dyzo

[Wormspace]
bonus=0
id=6
continent-countries=Wormspace

[BubbleheadCraboids]
flag=bubblehc
leader=Sotar Ngix

[PoorlyShavedApes]
flag=psapes
leader=Douglas Adams

[LittleGreenPseudobirds]
flag=lspbirds
leader=Tweeteoportyx

[TentacledHorrors]
flag=tentacleh
leader=Yogthulu

[Cybyoni]
flag=countc
leader=Count Trioni

[VatBrainedSaucerFolk]
flag=vbsfolk
leader=Meek Green

[DeadAncients]
flag=dancient
leader=Ssssssss

[HyperMantids]
flag=hyperm
leader=Skannnng!

[cannon]
frames=1
height=32
id=cannon
versions=3
width=32

[cavalry]
frames=1
height=32
id=cavalry
versions=3
width=32

[infantry]
frames=1
height=32
id=infantry
versions=3
width=23

[exploding]
frames=2
height=32
id=exploding
versions=2
width=32

[firing]
frames=2
height=32
id=firing
versions=2
width=64

[flag]
frames=1
height=20
versions=1
width=20

[font]
background-color=#808080
family=Times New Roman
foreground-color=#000000
italic=true
size=14
weight=normal

[goal1]
desc=%1, you need to conquer %2 star systems and place %3 armies in each one.
nbArmiesByCountry=3
nbCountries=10
type=countries

[goal2]
desc=%1, you need to conquer %2 star systems.
nbArmiesByCountry=0
nbCountries=15
type=countries

[goal3]
continents=Home,MyOldChina
desc=%1, you need to conquer zones %2 and %3.
type=continents

[goal4]
continents=Skinny,Farhip,MyOldChina
desc=%1, you need to conquer zones %2, %3 and %4.
type=continents

[goal5]
continents=Home,Skinny,Farhip
desc=%1, you need to conquer zones %2, %3 and %4.
type=continents

[goal6]
desc=%1, you need to eliminate %2. If they are eliminated by another player, you need to conquer %3 star systems.
nbCountriesFallback=16
type=player

[onu]
continents=Home,Farhip,License,Skinny,MyOldChina,Wormspace
countries=Wormspace,Sol,Galaxion,Luyten,NewHenge,DreamState,Mandible,EightFeathers,Cultist,Nybble,Ringmaster,Talons,Meerkon,Gate,DeltaPavonis,Flatling,DeepTime,Lacaille8760,Gala,Earth,Lyte,Hene,Mane,Lotus,Tannhauser,Pave,Meex,Nibz,CultistTwo,RingSix,Pinion,TenTalons,Infi,Loco,Dyzo
desc=This skin shows an abstract network called SolStar. It represents \n a network of habitable stars within a 20 light year neighbourhood of our \n Sun, being based on the map that can be found at \n http://www.projectrho.com/public_html/starmaps/mapindex.php \n but with an extra link via Wormspace to improve play.
fighters-flag-y-diff=-12
format-version=3.0
goals=goal1,goal2,goal3,goal4,goal5,goal6
width=1024
height=768
map-mask=Images/map-mask.png
name=SolStarPlus
nationalities=BubbleheadCraboids,PoorlyShavedApes,LittleGreenPseudobirds,TentacledHorrors,Cybyoni,VatBrainedSaucerFolk,DeadAncients,HyperMantids
nb-continents=6
nb-countries=35
nb-nationalities=6
pool=Images/pool.svg
skinpath=skins/solstarplus
width-between-flag-and-fighter=32
