

[Zatom]
anchor-point=289,258
flag-point=265,234
central-point=289,258
id=19
cannon-point=281,260
cavalry-point=289,262
infantry-point=297,264
neighbours=Rime,Khmel,Vinny,Kayvee,Kayvi

[Loved]
anchor-point=31,267
flag-point=7,243
central-point=31,267
id=1
cannon-point=23,269
cavalry-point=31,271
infantry-point=39,273
neighbours=Loves

[Loves]
anchor-point=81,314
flag-point=57,290
central-point=81,314
id=2
cannon-point=73,316
cavalry-point=81,318
infantry-point=89,320
neighbours=NUTSO,Loved,Eyeman,Lute,Tern

[Tern]
anchor-point=157,302
flag-point=133,278
central-point=157,302
id=6
cannon-point=149,304
cavalry-point=157,306
infantry-point=165,308
neighbours=Loves,Eyeman,Rime,Khmel

[Kayvea]
anchor-point=434,232
flag-point=410,208
central-point=434,232
id=20
cannon-point=426,234
cavalry-point=434,236
infantry-point=442,238
neighbours=Kayvee,Kayvi,Kayvo,Kayvu,Kayvy,Kayvd

[Kayvee]
anchor-point=349,236
flag-point=325,212
central-point=349,236
id=21
cannon-point=341,238
cavalry-point=349,240
infantry-point=357,242
neighbours=Zatom,Kayvea,Kayvi,Kayvd

[Kayvi]
anchor-point=405,286
flag-point=381,262
central-point=405,286
id=22
cannon-point=397,288
cavalry-point=405,290
infantry-point=413,292
neighbours=Bill,Zatom,Kayvea,Kayvee,Kayvo

[Kayvo]
anchor-point=500,273
flag-point=476,249
central-point=500,273
id=23
cannon-point=492,275
cavalry-point=500,277
infantry-point=508,279
neighbours=Kayvea,Kayvi,Kayvu,Chalk,Vault

[Kayvu]
anchor-point=512,213
flag-point=488,189
central-point=512,213
id=24
cannon-point=504,215
cavalry-point=512,217
infantry-point=520,219
neighbours=Kayvea,Kayvo,Kayvy,foile

[Kayvy]
anchor-point=453,176
flag-point=429,152
central-point=453,176
id=25
cannon-point=445,178
cavalry-point=453,180
infantry-point=461,182
neighbours=Kayvea,Kayvu,Charm

[Kayvd]
anchor-point=380,166
flag-point=356,142
central-point=380,166
id=26
cannon-point=372,168
cavalry-point=380,170
infantry-point=388,172
neighbours=Kayvea,Kayvee,Boil

[Charm]
anchor-point=475,113
flag-point=451,89
central-point=475,113
id=27
cannon-point=467,115
cavalry-point=475,117
infantry-point=483,119
neighbours=Kayvy,foila,KEKS

[Boil]
anchor-point=346,113
flag-point=322,89
central-point=346,113
id=28
cannon-point=338,115
cavalry-point=346,117
infantry-point=354,119
neighbours=Kayvd,BRA

[foila]
anchor-point=607,106
flag-point=583,82
central-point=607,106
id=29
cannon-point=599,108
cavalry-point=607,110
infantry-point=615,112
neighbours=Charm,Summed,SOCK

[Summed]
anchor-point=645,191
flag-point=621,167
central-point=645,191
id=30
cannon-point=637,193
cavalry-point=645,195
infantry-point=653,197
neighbours=foila,foile,Calmed

[foile]
anchor-point=579,239
flag-point=555,215
central-point=579,239
id=31
cannon-point=571,241
cavalry-point=579,243
infantry-point=587,245
neighbours=Kayvu,Summed,Vault

[Ryde]
anchor-point=563,487
flag-point=539,463
central-point=563,487
id=38
cannon-point=555,489
cavalry-point=563,491
infantry-point=571,493
neighbours=Mica,Kerb,Sky,Kyr

[Sky]
anchor-point=516,424
flag-point=492,400
central-point=516,424
id=57
cannon-point=508,426
cavalry-point=516,428
infantry-point=524,430
neighbours=fine,Chalk,Ryde

[Kyr]
anchor-point=607,450
flag-point=583,426
central-point=607,450
id=58
cannon-point=599,452
cavalry-point=607,454
infantry-point=615,456
neighbours=Ryde

[SOCK]
anchor-point=692,47
flag-point=668,23
central-point=692,47
id=61
cannon-point=684,49
cavalry-point=692,51
infantry-point=700,53
neighbours=foila,KEKS,GOOP

[GOOP]
anchor-point=975,47
flag-point=951,23
central-point=975,47
id=62
cannon-point=967,49
cavalry-point=975,51
infantry-point=983,53
neighbours=Sieve,farm,SOCK,NAD

[NAD]
anchor-point=975,686
flag-point=951,662
central-point=975,686
id=63
cannon-point=967,688
cavalry-point=975,690
infantry-point=983,692
neighbours=Cherry,Alco,GOOP

[BRA]
anchor-point=302,47
flag-point=278,23
central-point=302,47
id=59
cannon-point=294,49
cavalry-point=302,51
infantry-point=310,53
neighbours=Boil,KEKS

[KEKS]
anchor-point=446,47
flag-point=422,23
central-point=446,47
id=60
cannon-point=438,49
cavalry-point=446,51
infantry-point=454,53
neighbours=Charm,BRA,SOCK

[NUTSO]
anchor-point=22,66
flag-point=-2,42
central-point=22,66
id=0
cannon-point=14,68
cavalry-point=22,70
infantry-point=30,72
neighbours=Loves

[Eyeman]
anchor-point=81,374
flag-point=57,350
central-point=81,374
id=3
cannon-point=73,376
cavalry-point=81,378
infantry-point=89,380
neighbours=Loves,Tern,Ewe,Churn

[Ewe]
anchor-point=44,424
flag-point=20,400
central-point=44,424
id=7
cannon-point=36,426
cavalry-point=44,428
infantry-point=52,430
neighbours=Eyeman,Churn

[Churn]
anchor-point=166,427
flag-point=142,403
central-point=166,427
id=8
cannon-point=158,429
cavalry-point=166,431
infantry-point=174,433
neighbours=Eyeman,Ewe,fine,Khmel

[Kas]
anchor-point=802,358
flag-point=778,334
central-point=802,358
id=33
cannon-point=794,360
cavalry-point=802,362
infantry-point=810,364
neighbours=Din,Marshall

[Pro]
anchor-point=670,409
flag-point=646,385
central-point=670,409
id=34
cannon-point=662,411
cavalry-point=670,413
infantry-point=678,415
neighbours=Din

[Din]
anchor-point=723,383
flag-point=699,359
central-point=723,383
id=35
cannon-point=715,385
cavalry-point=723,387
infantry-point=731,389
neighbours=Kas,Pro,Zap,Vault

[Gun]
anchor-point=692,512
flag-point=668,488
central-point=692,512
id=36
cannon-point=684,514
cavalry-point=692,516
infantry-point=700,518
neighbours=Zap

[Zap]
anchor-point=723,459
flag-point=699,435
central-point=723,459
id=37
cannon-point=715,461
cavalry-point=723,463
infantry-point=731,465
neighbours=Din,Gun,Yashi,Doner

[Lute]
anchor-point=103,185
flag-point=79,161
central-point=103,185
id=4
cannon-point=95,187
cavalry-point=103,189
infantry-point=111,191
neighbours=Loves,Rime

[Rime]
anchor-point=201,191
flag-point=177,167
central-point=201,191
id=5
cannon-point=193,193
cavalry-point=201,195
infantry-point=209,197
neighbours=Lute,Tern,Zatom

[Khmel]
anchor-point=226,330
flag-point=202,306
central-point=226,330
id=17
cannon-point=218,332
cavalry-point=226,334
infantry-point=234,336
neighbours=Tern,Churn,Vinny,Zatom

[Vinny]
anchor-point=320,343
flag-point=296,319
central-point=320,343
id=18
cannon-point=312,345
cavalry-point=320,347
infantry-point=328,349
neighbours=Bill,fine,Khmel,Zatom

[Chalk]
anchor-point=512,361
flag-point=488,337
central-point=512,361
id=32
cannon-point=504,363
cavalry-point=512,365
infantry-point=520,367
neighbours=Bill,Kayvo,Vault,Sky

[Bill]
anchor-point=402,352
flag-point=378,328
central-point=402,352
id=9
cannon-point=394,354
cavalry-point=402,356
infantry-point=410,358
neighbours=fine,Vinny,Kayvi,Chalk

[fine]
anchor-point=355,427
flag-point=331,403
central-point=355,427
id=10
cannon-point=347,429
cavalry-point=355,431
infantry-point=363,433
neighbours=Churn,Bill,Vinny,Mica,Sky

[Mica]
anchor-point=456,522
flag-point=432,498
central-point=456,522
id=11
cannon-point=448,524
cavalry-point=456,526
infantry-point=464,528
neighbours=fine,Odina,Kerb,Ryde

[Odina]
anchor-point=424,579
flag-point=400,555
central-point=424,579
id=12
cannon-point=416,581
cavalry-point=424,583
infantry-point=432,585
neighbours=Mica,Odine,Odinu

[Odine]
anchor-point=361,601
flag-point=337,577
central-point=361,601
id=13
cannon-point=353,603
cavalry-point=361,605
infantry-point=369,607
neighbours=Odina,Odinu

[Odinu]
anchor-point=421,638
flag-point=397,614
central-point=421,638
id=14
cannon-point=413,640
cavalry-point=421,642
infantry-point=429,644
neighbours=Odina,Odine

[Kerb]
anchor-point=550,575
flag-point=526,551
central-point=550,575
id=15
cannon-point=542,577
cavalry-point=550,579
infantry-point=558,581
neighbours=Mica,Cry,Ryde,Meep

[Cry]
anchor-point=610,629
flag-point=586,605
central-point=610,629
id=16
cannon-point=602,631
cavalry-point=610,633
infantry-point=618,635
neighbours=Kerb,Simpo,Meep

[Simpo]
anchor-point=638,686
flag-point=614,662
central-point=638,686
id=39
cannon-point=630,688
cavalry-point=638,690
infantry-point=646,692
neighbours=Cry,Steve,Cherry

[Steve]
anchor-point=575,736
flag-point=551,712
central-point=575,736
id=40
cannon-point=567,738
cavalry-point=575,740
infantry-point=583,742
neighbours=Simpo,Cherry

[Cherry]
anchor-point=752,701
flag-point=728,677
central-point=752,701
id=41
cannon-point=744,703
cavalry-point=752,705
infantry-point=760,707
neighbours=Simpo,Steve,NAD

[Meep]
anchor-point=667,572
flag-point=643,548
central-point=667,572
id=42
cannon-point=659,574
cavalry-point=667,576
infantry-point=675,578
neighbours=Kerb,Cry,Bard

[Bard]
anchor-point=752,575
flag-point=728,551
central-point=752,575
id=43
cannon-point=744,577
cavalry-point=752,579
infantry-point=760,581
neighbours=Meep,Yashi

[Yashi]
anchor-point=808,534
flag-point=784,510
central-point=808,534
id=44
cannon-point=800,536
cavalry-point=808,538
infantry-point=816,540
neighbours=Zap,Bard,Kobi,Doner

[Kobi]
anchor-point=846,597
flag-point=822,573
central-point=846,597
id=45
cannon-point=838,599
cavalry-point=846,601
infantry-point=854,603
neighbours=Yashi

[Doner]
anchor-point=837,465
flag-point=813,441
central-point=837,465
id=46
cannon-point=829,467
cavalry-point=837,469
infantry-point=845,471
neighbours=Zap,Yashi,Tsk,Alco,Marshall

[Tsk]
anchor-point=887,503
flag-point=863,479
central-point=887,503
id=47
cannon-point=879,505
cavalry-point=887,507
infantry-point=895,509
neighbours=Doner

[Alco]
anchor-point=931,450
flag-point=907,426
central-point=931,450
id=48
cannon-point=923,452
cavalry-point=931,454
infantry-point=939,456
neighbours=Doner,Marshall,NAD

[Marshall]
anchor-point=884,399
flag-point=860,375
central-point=884,399
id=49
cannon-point=876,401
cavalry-point=884,403
infantry-point=892,405
neighbours=Kas,Doner,Alco,Sieve

[Sieve]
anchor-point=925,336
flag-point=901,312
central-point=925,336
id=50
cannon-point=917,338
cavalry-point=925,340
infantry-point=933,342
neighbours=Marshall,farm,Calms,GOOP

[farm]
anchor-point=877,283
flag-point=853,259
central-point=877,283
id=51
cannon-point=869,285
cavalry-point=877,287
infantry-point=885,289
neighbours=Sieve,Calms,GOOP

[Calms]
anchor-point=786,298
flag-point=762,274
central-point=786,298
id=52
cannon-point=778,300
cavalry-point=786,302
infantry-point=794,304
neighbours=Sieve,farm,Calm,Calmer,Calmed

[Calm]
anchor-point=755,245
flag-point=731,221
central-point=755,245
id=53
cannon-point=747,247
cavalry-point=755,249
infantry-point=763,251
neighbours=Calms,Calmer

[Calmer]
anchor-point=692,270
flag-point=668,246
central-point=692,270
id=54
cannon-point=684,272
cavalry-point=692,274
infantry-point=700,276
neighbours=Calms,Calm,Calmed,Vault

[Calmed]
anchor-point=783,191
flag-point=759,167
central-point=783,191
id=55
cannon-point=775,193
cavalry-point=783,195
infantry-point=791,197
neighbours=Summed,Calms,Calmer

[Vault]
anchor-point=641,327
flag-point=617,303
central-point=641,327
id=56
cannon-point=633,329
cavalry-point=641,331
infantry-point=649,333
neighbours=Kayvo,foile,Chalk,Din,Calmer


[Lo]
bonus=3
id=1
continent-countries=Loves,Tern,Zatom,Loved

[Eo]
bonus=1
id=2
continent-countries=Eyeman,Churn,Ewe

[No]
bonus=1
id=3
continent-countries=Rime,Lute

[Co]
bonus=1
id=4
continent-countries=Khmel,Vinny,Bill,Chalk

[Do]
bonus=3
id=5
continent-countries=fine,Odinu,Odine,Odina,Kerb,Mica

[Ki]
bonus=1
id=6
continent-countries=Cry,Simpo,Steve,Cherry

[Nails]
bonus=1
id=7
continent-countries=Bard,Meep,Yashi,Kobi

[Ro]
bonus=3
id=8
continent-countries=Doner,Marshall,Tsk,Alco,farm,Sieve

[So]
bonus=3
id=9
continent-countries=Calms,Calmer,Calm,Calmed,Vault

[Ky]
bonus=4
id=10
continent-countries=Kayvo,Kayvy,Kayvu,Kayvd,Kayvea,Kayvee,Kayvi

[To]
bonus=0
id=11
continent-countries=Boil,Charm

[Ur]
bonus=1
id=12
continent-countries=foila,Summed,foile

[Elk]
bonus=2
id=13
continent-countries=Kyr,Ryde,Sky

[POO]
bonus=5
id=15
continent-countries=NAD,SOCK,GOOP

[BEND]
bonus=0
id=16
continent-countries=BRA,KEKS

[NUT]
bonus=1
id=17
continent-countries=NUTSO

[Ox]
bonus=2
id=24
continent-countries=Gun,Kas,Pro,Zap,Din

[FreedomUqbar]
flag=fsi
leader=Cowardly Psychotic 

[UqbarLiberationFront]
flag=slf
leader=Naive Bully

[FrontLiberationUqbar]
flag=fls
leader=Brutal Idiot

[LibertyFreedomUqbar]
flag=lfs
leader=Selfish Socialist

[UqbarFuture]
flag=sfu
leader=Reactionary Pluralist

[SocialFuturesLiberty]
flag=sfl
leader=Narcissitic Fascist

[FreeDemocratsAlliance]
flag=fda
leader=Deluded Optimist

[AllianceFutureDemocrats]
flag=afd
leader=DerangedFantasist

[cannon]
frames=1
height=32
id=cannon
versions=3
width=32

[cavalry]
frames=1
height=32
id=cavalry
versions=3
width=32

[infantry]
frames=1
height=32
id=infantry
versions=3
width=23

[exploding]
frames=2
height=32
id=exploding
versions=2
width=32

[firing]
frames=2
height=32
id=firing
versions=2
width=64

[flag]
frames=1
height=20
versions=1
width=20

[font]
background-color=#808080
family=Times New Roman
foreground-color=#000000
italic=true
size=14
weight=normal

[goal1]
desc=%1, you need to conquer %2 countries, and place %3 armies in each one.
nbArmiesByCountry=3
nbCountries=20
type=countries

[goal2]
desc=%1, you need to conquer %2 countries.
nbArmiesByCountry=0
nbCountries=25
type=countries

[goal3]
continents=Ky,Do,So
desc=%1, you need to conquer continents %2, %3 and %4.
type=continents

[goal4]
continents=Ky,Lo,Ro
desc=%1, you need to conquer continents %2, %3 and %4.
type=continents

[goal5]
continents=Elk,Ox,Ky
desc=%1, you need to conquer continents %2, %3 and %4.
type=continents

[goal6]
continents=Nails,Co,Ur
desc=%1, you need to conquer continents %2, %3 and %4.
type=continents

[goal7]
continents=NUT,BEND,POO
desc=%1, you need to conquer continents %2, %3 and %4.
type=continents

[goal8]
continents=Ki,Ky,Ro
desc=%1, you need to conquer continents %2, %3 and %4.
type=continents

[goal9]
desc=%1, you need to eliminate %2. If they are eliminated by another player, you need to conquer %3 countries.
nbCountriesFallback=22
type=player

[goal10]
continents=Eo,Ur,Ky
desc=%1, you need to conquer continents %2, %3 and %4.
type=continents

[onu]
continents=Lo,Eo,No,Co,Do,Ki,Nails,Ro,So,Ky,To,Ur,Elk,POO,BEND,NUT,Ox
countries=NUTSO,Loved,Loves,Eyeman,Lute,Rime,Tern,Ewe,Churn,Bill,fine,Mica,Odina,Odine,Odinu,Kerb,Cry,Khmel,Vinny,Zatom,Kayvea,Kayvee,Kayvi,Kayvo,Kayvu,Kayvy,Kayvd,Charm,Boil,foila,Summed,foile,Chalk,Kas,Pro,Din,Gun,Zap,Ryde,Simpo,Steve,Cherry,Meep,Bard,Yashi,Kobi,Doner,Tsk,Alco,Marshall,Sieve,farm,Calms,Calm,Calmer,Calmed,Vault,Sky,Kyr,BRA,KEKS,SOCK,GOOP,NAD
desc=This skin shows an abstract network representing the world of Uqbar.\nIt features non-animated sprites.
fighters-flag-y-diff=-12
format-version=3.0
goals=goal1,goal2,goal3,goal4,goal5,goal6,goal7,goal8,goal9,goal10
width=1024
height=768
map-mask=Images/map-mask.png
name=Uqbar
nationalities=FreedomUqbar,UqbarLiberationFront,FrontLiberationUqbar,LibertyFreedomUqbar,UqbarFuture,SocialFuturesLiberty,FreeDemocratsAlliance,AllianceFutureDemocrats
nb-continents=17
nb-countries=64
nb-nationalities=8
pool=Images/pool.svg
skinpath=skins/uqbar
width-between-flag-and-fighter=32
