

[UK]
anchor-point=450,258
flag-point=426,234
central-point=450,258
id=0
cannon-point=442,260
cavalry-point=450,262
infantry-point=458,264
neighbours=Iceland,France,Benelux

[Iceland]
anchor-point=374,220
flag-point=350,196
central-point=374,220
id=1
cannon-point=366,222
cavalry-point=374,224
infantry-point=382,226
neighbours=UK,Greenland

[France]
anchor-point=509,302
flag-point=485,278
central-point=509,302
id=2
cannon-point=501,304
cavalry-point=509,306
infantry-point=517,308
neighbours=UK,Benelux,Prussia,NorthAfrica

[Benelux]
anchor-point=550,239
flag-point=526,215
central-point=550,239
id=3
cannon-point=542,241
cavalry-point=550,243
infantry-point=558,245
neighbours=UK,France,Scandi,Prussia

[Scandi]
anchor-point=544,169
flag-point=520,145
central-point=544,169
id=4
cannon-point=536,171
cavalry-point=544,173
infantry-point=552,175
neighbours=Benelux,Prussia

[Prussia]
anchor-point=607,273
flag-point=583,249
central-point=607,273
id=5
cannon-point=599,275
cavalry-point=607,277
infantry-point=615,279
neighbours=France,Benelux,Scandi,Khazak,Russia

[Khazak]
anchor-point=704,239
flag-point=680,215
central-point=704,239
id=6
cannon-point=696,241
cavalry-point=704,243
infantry-point=712,245
neighbours=Prussia,Iran,Pakistan,Mongolia,Russia

[Alaska]
anchor-point=47,116
flag-point=23,92
central-point=47,116
id=10
cannon-point=39,118
cavalry-point=47,120
infantry-point=55,122
neighbours=Alberta,Canada2,Siberia

[Canada2]
anchor-point=103,248
flag-point=79,224
central-point=103,248
id=11
cannon-point=95,250
cavalry-point=103,252
infantry-point=111,254
neighbours=Canada1,Alberta,Alaska,Western_US,Eastern_US

[Western_US]
anchor-point=97,346
flag-point=73,322
central-point=97,346
id=12
cannon-point=89,348
cavalry-point=97,350
infantry-point=105,352
neighbours=Canada2,Eastern_US,Mexico

[Eastern_US]
anchor-point=248,333
flag-point=224,309
central-point=248,333
id=13
cannon-point=240,335
cavalry-point=248,337
infantry-point=256,339
neighbours=Canada1,Canada2,Western_US

[Greenland]
anchor-point=305,185
flag-point=281,161
central-point=305,185
id=7
cannon-point=297,187
cavalry-point=305,189
infantry-point=313,191
neighbours=Iceland,Canada1,Alberta

[Canada1]
anchor-point=232,267
flag-point=208,243
central-point=232,267
id=8
cannon-point=224,269
cavalry-point=232,271
infantry-point=240,273
neighbours=Greenland,Canada2,Eastern_US

[Alberta]
anchor-point=169,188
flag-point=145,164
central-point=169,188
id=9
cannon-point=161,190
cavalry-point=169,192
infantry-point=177,194
neighbours=Greenland,Alaska,Canada2

[Mexico]
anchor-point=94,415
flag-point=70,391
central-point=94,415
id=14
cannon-point=86,417
cavalry-point=94,419
infantry-point=102,421
neighbours=Western_US,Columbia

[Columbia]
anchor-point=122,481
flag-point=98,457
central-point=122,481
id=15
cannon-point=114,483
cavalry-point=122,485
infantry-point=130,487
neighbours=Mexico,Brazil,MiddleSA

[Brazil]
anchor-point=239,500
flag-point=215,476
central-point=239,500
id=16
cannon-point=231,502
cavalry-point=239,504
infantry-point=247,506
neighbours=Columbia,MiddleSA,Niger

[MiddleSA]
anchor-point=154,575
flag-point=130,551
central-point=154,575
id=17
cannon-point=146,577
cavalry-point=154,579
infantry-point=162,581
neighbours=Columbia,Brazil,Chilegentina

[Chilegentina]
anchor-point=129,670
flag-point=105,646
central-point=129,670
id=18
cannon-point=121,672
cavalry-point=129,674
infantry-point=137,676
neighbours=MiddleSA

[Niger]
anchor-point=412,468
flag-point=388,444
central-point=412,468
id=19
cannon-point=404,470
cavalry-point=412,472
infantry-point=420,474
neighbours=Brazil,NorthAfrica,Egypt,Gambia

[NorthAfrica]
anchor-point=421,402
flag-point=397,378
central-point=421,402
id=20
cannon-point=413,404
cavalry-point=421,406
infantry-point=429,408
neighbours=France,Niger,Egypt

[Egypt]
anchor-point=522,415
flag-point=498,391
central-point=522,415
id=21
cannon-point=514,417
cavalry-point=522,419
infantry-point=530,421
neighbours=Niger,NorthAfrica,Gambia,Arabia

[Gambia]
anchor-point=481,525
flag-point=457,501
central-point=481,525
id=22
cannon-point=473,527
cavalry-point=481,529
infantry-point=489,531
neighbours=Niger,Egypt,Zaire

[Zaire]
anchor-point=459,588
flag-point=435,564
central-point=459,588
id=23
cannon-point=451,590
cavalry-point=459,592
infantry-point=467,594
neighbours=Gambia,SouthAfrica,Mozambique

[SouthAfrica]
anchor-point=462,667
flag-point=438,643
central-point=462,667
id=24
cannon-point=454,669
cavalry-point=462,671
infantry-point=470,673
neighbours=Zaire,Mozambique

[Mozambique]
anchor-point=585,623
flag-point=561,599
central-point=585,623
id=25
cannon-point=577,625
cavalry-point=585,627
infantry-point=593,629
neighbours=Zaire,SouthAfrica

[Arabia]
anchor-point=588,424
flag-point=564,400
central-point=588,424
id=26
cannon-point=580,426
cavalry-point=588,428
infantry-point=596,430
neighbours=Egypt,MiddleEast

[MiddleEast]
anchor-point=626,371
flag-point=602,347
central-point=626,371
id=27
cannon-point=618,373
cavalry-point=626,375
infantry-point=634,377
neighbours=Arabia,Iran

[Iran]
anchor-point=695,336
flag-point=671,312
central-point=695,336
id=28
cannon-point=687,338
cavalry-point=695,340
infantry-point=703,342
neighbours=Khazak,MiddleEast,Pakistan,India

[Pakistan]
anchor-point=774,305
flag-point=750,281
central-point=774,305
id=29
cannon-point=766,307
cavalry-point=774,309
infantry-point=782,311
neighbours=Khazak,Iran,India,China

[India]
anchor-point=745,424
flag-point=721,400
central-point=745,424
id=30
cannon-point=737,426
cavalry-point=745,428
infantry-point=753,430
neighbours=Iran,Pakistan,Vietbodia

[China]
anchor-point=871,258
flag-point=847,234
central-point=871,258
id=31
cannon-point=863,260
cavalry-point=871,262
infantry-point=879,264
neighbours=Pakistan,Japan,Vietbodia,Mongolia

[Japan]
anchor-point=953,213
flag-point=929,189
central-point=953,213
id=32
cannon-point=945,215
cavalry-point=953,217
infantry-point=961,219
neighbours=China

[Vietbodia]
anchor-point=862,358
flag-point=838,334
central-point=862,358
id=33
cannon-point=854,360
cavalry-point=862,362
infantry-point=870,364
neighbours=India,China,Indonesia

[Mongolia]
anchor-point=821,185
flag-point=797,161
central-point=821,185
id=34
cannon-point=813,187
cavalry-point=821,189
infantry-point=829,191
neighbours=Khazak,China,Siberia

[Siberia]
anchor-point=818,106
flag-point=794,82
central-point=818,106
id=35
cannon-point=810,108
cavalry-point=818,110
infantry-point=826,112
neighbours=Alaska,Mongolia,Russia

[Russia]
anchor-point=682,173
flag-point=658,149
central-point=682,173
id=36
cannon-point=674,175
cavalry-point=682,177
infantry-point=690,179
neighbours=Prussia,Khazak,Siberia

[Indonesia]
anchor-point=896,427
flag-point=872,403
central-point=896,427
id=37
cannon-point=888,429
cavalry-point=896,431
infantry-point=904,433
neighbours=Vietbodia,Papua

[Papua]
anchor-point=931,490
flag-point=907,466
central-point=931,490
id=38
cannon-point=923,492
cavalry-point=931,494
infantry-point=939,496
neighbours=Indonesia,Australieast,Australiwest

[Australieast]
anchor-point=837,538
flag-point=813,514
central-point=837,538
id=39
cannon-point=829,540
cavalry-point=837,542
infantry-point=845,544
neighbours=Papua,Australiwest

[Australiwest]
anchor-point=912,560
flag-point=888,536
central-point=912,560
id=40
cannon-point=904,562
cavalry-point=912,564
infantry-point=920,566
neighbours=Papua,Australieast,NewZealand

[NewZealand]
anchor-point=956,645
flag-point=932,621
central-point=956,645
id=41
cannon-point=948,647
cavalry-point=956,649
infantry-point=964,651
neighbours=Australiwest


[Europe]
bonus=5
id=1
continent-countries=Benelux,UK,Iceland,France,Prussia,Khazak,Scandi

[North_America]
bonus=5
id=2
continent-countries=Greenland,Eastern_US,Canada1,Canada2,Alaska,Western_US,Alberta

[South_America]
bonus=2
id=3
continent-countries=MiddleSA,Brazil,Chilegentina,Columbia,Mexico

[Africa]
bonus=3
id=4
continent-countries=NorthAfrica,Niger,Gambia,Zaire,SouthAfrica,Mozambique,Egypt,Arabia

[Asia]
bonus=7
id=5
continent-countries=Siberia,Mongolia,China,Japan,Russia,Iran,Pakistan,India,Vietbodia,MiddleEast

[Oceania]
bonus=2
id=6
continent-countries=Australieast,Australiwest,Papua,Indonesia,NewZealand

[FreePeoplesUnite]
flag=fsi
leader=Cowardly Psychotic 

[PeoplesLiberationFront]
flag=slf
leader=Naive Bully

[ConservativeFront]
flag=fls
leader=Brutal Idiot

[FreedomForAll]
flag=lfs
leader=Selfish Socialist

[BrightFuture]
flag=sfu
leader=Reactionary Pluralist

[SocialFuturesLiberty]
flag=sfl
leader=Narcissitic Fascist

[FreeDemocratsAlliance]
flag=fda
leader=Deluded Optimist

[AllianceFutureDemocrats]
flag=afd
leader=DerangedFantasist

[cannon]
frames=1
height=32
id=cannon
versions=3
width=32

[cavalry]
frames=1
height=32
id=cavalry
versions=3
width=32

[infantry]
frames=1
height=32
id=infantry
versions=3
width=23

[exploding]
frames=2
height=32
id=exploding
versions=2
width=32

[firing]
frames=2
height=32
id=firing
versions=2
width=64

[flag]
frames=1
height=20
versions=1
width=20

[font]
background-color=#808080
family=Times New Roman
foreground-color=#000000
italic=true
size=14
weight=normal

[goal1]
desc=%1, you need to conquer %2 countries, and place %3 armies in each one.
nbArmiesByCountry=2
nbCountries=18
type=countries

[goal2]
desc=%1, you need to conquer %2 countries.
nbArmiesByCountry=0
nbCountries=24
type=countries

[goal3]
continents=Africa,North_America
desc=%1, you need to conquer %2, %3 and another continent of your choice.
type=continents

[goal4]
continents=Asia,North_America
desc=%1, you need to conquer %2 and %3.
type=continents

[goal5]
continents=Asia,South_America
desc=%1, you need to conquer %2 and %3.
type=continents

[goal6]
continents=Africa,Europe
desc=%1, you need to conquer %2 and %3.
type=continents

[goal7]
continents=Oceania,Africa
desc=%1, you need to conquer %2 and %3.
type=continents

[goal8]
continents=South_America,Europe
desc=%1, you need to conquer %2 and %3.
type=continents

[goal9]
desc=%1, you need to eliminate %2. If they are eliminated by another player, you need to conquer %3 countries.
nbCountriesFallback=24
type=player

[onu]
continents=Europe,North_America,South_America,Africa,Asia,Oceania
countries=UK,Iceland,France,Benelux,Scandi,Prussia,Khazak,Greenland,Canada1,Alberta,Alaska,Canada2,Western_US,Eastern_US,Mexico,Columbia,Brazil,MiddleSA,Chilegentina,Niger,NorthAfrica,Egypt,Gambia,Zaire,SouthAfrica,Mozambique,Arabia,MiddleEast,Iran,Pakistan,India,China,Japan,Vietbodia,Mongolia,Siberia,Russia,Indonesia,Papua,Australieast,Australiwest,NewZealand
desc=This skin shows an abstract network representing the world of PKrisk.\nIt features non-animated sprites.
fighters-flag-y-diff=-12
format-version=3.0
goals=goal1,goal2,goal3,goal4,goal5,goal6,goal7,goal8,goal9
width=1024
height=768
map-mask=Images/map-mask.png
name=PKrisk
nationalities=FreePeoplesUnite,PeoplesLiberationFront,ConservativeFront,FreedomForAll,BrightFuture,SocialFuturesLiberty,FreeDemocratsAlliance,AllianceFutureDemocrats
nb-continents=6
nb-countries=42
nb-nationalities=8
pool=Images/pool.svg
skinpath=skins/pkrisk
width-between-flag-and-fighter=32
